@import '../../components/StatusBar/style.scss';
@import '../../components/GridBurrows/style.scss';
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .wrapperGame {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 70%;
        width: 100%;
    }
}


