.statusBar {
    max-width: 20%;
    width: 100%;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 35px;
        margin: 0;
    }
    .info {
        div {
            margin: 5px 0px;
            font-size: 20px;
        }
    }
    #startBtn {
        padding: 5% 15%;
        outline: none;
        border-radius: 5px;
        border: none;
        background-color: pink;
        font-size: 20px;
        transition: all .5s;
        cursor: pointer;
        &:hover {
            background-color: white;
        }
    }
}